.header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
}

.header-navs{
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 0;

}

.header-nav-link{
    margin: 20px;
    transition: 83ms;
}

.header-nav-link:hover{
    color: white;
}

.header-logo{
    margin: 0 0 0 100px;
    font-weight: bold;
    font-size: x-large;
    transition: 83ms;
}

.header-logo:hover{
    color:white;
    
}